@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Home</title>    
</head>
<body>
    <h1>LPPA - Parcial 1°</h1>
    <h2>Alumno: González Covanti, Julián</h2>

    <br />
    <img src="~/Content/201701-06-4009f810-fd72-4a8a-8f78-40c947b460ba.jpg" />
</body>

